body{
  font-family: 'Mitr', sans-serif;
  padding: 0;
  margin: 0;
}


.nav{
  padding: 2px;
  box-sizing: border-box;
  box-shadow: 1px 1px 4px 2px #ccc;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100vw;
}

h1 {
  margin: 5px;
}

.ajuda{
  height: 30px;
  width: 30px;
  transition: .4s;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
/* TOOLTIP */

.tooltip{
  display: none;
}
.tooltip.active{
  position: absolute;
  z-index: 100;
  background-color: #fff;
  border: 2px solid #ccc;
  padding: 1rem;
  display: block;
  animation: .3s show forwards;
}
[data-title="tooltip"]{
  text-align: center;
}
[data-title="type"]{
  font-weight: bolder;
  text-decoration: underline;
}
/*animação*/
@keyframes show{
  from{
      opacity: 0;
      transform: translateX(-3rem);
  }
  to{
      opacity: 1;
      transform: translateX(0);
  }
}

/* GAME BOARD */

   #game-board {
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-top: 25px;
   }
   
   .letter-box {
     border: 2px solid gray;
     border-radius: 3px;
     margin: 2px;
     font-size: 2.5rem;
     font-weight: 700;
     height: 3rem;
     width: 3rem;
     display: flex;
     justify-content: center;
     align-items: center;
     text-transform: uppercase;
   }
   
   .filled-box {
     border: 2px solid black;
     font-family: 'Mitr', sans-serif;
   }
   
   .letter-row {
     display: flex;
   }
   
   #keyboard-cont {
     margin: 1rem 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   #keyboard-cont div {
     display: flex;
   }
   
   .second-row {
     margin: 0.5rem 0;
   }
   
   .keyboard-button {
     font-size: 1rem;
     font-weight: normal;
     padding: 0.5rem;
     margin: 0 2px;
     cursor: pointer;
     text-transform: uppercase;
     font-family: 'Mitr', sans-serif;
   }




@media screen and (max-width: 600px ) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  
 
}

@media screen and (max-width: 400px) {
  body {
    overflow: hidden;
  }

  .keyboard-button{
    padding: .2rem;
  }

  .tooltip {
    width: 50vw;
  }

  .first-row, .second-row, .third-row {
    padding: 8px;
    font-size: .8rem;
  } 

  #keyboard-cont {
    width:auto;
  }

}
